---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}

<article class="px-1">
  <header class="post-header">
    <h1 class="post-title" data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc fs-5 fw-light text-muted">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta text-muted d-flex flex-wrap">
      <!-- author -->
      <div>
        {% if page.author %}
          {% assign authors = page.author %}
        {% elsif page.authors %}
          {% assign authors = page.authors %}
        {% endif %}
        {% if authors %}
          {% for author in authors %}
            {% if site.data.authors[author].url -%}
              <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
            {%- else -%}
              {{ site.data.authors[author].name }}
            {%- endif %}
            {%- unless forloop.last -%}, {% endunless -%}
          {% endfor %}
        {% else %}
          <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
        {% endif %}
      </div>

      <div class="ms-3">
        <i class="iconfont icon-Monthdatecalendar"></i>
        <span class="ms-1">{% include datetime.html date=page.date lang=lang %}</span>
      </div>

      <div class="ms-3">
        <i class="iconfont icon-Time"></i>
        <span class="ms-1">{% include read-time.html content=content lang=lang %}</span>
      </div>

      {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
        <div class="ms-3">
          <i class="iconfont icon-Eye"></i>
          <span id="pageviews" class="ms-1">
            <i class="iconfont icon-spinner fa-spin"></i>
          </span>
        </div>
      {% endif %}
    </div>

    <!-- lastmod date -->
    {% if page.last_modified_at and page.last_modified_at != page.date %}
      <div class="post-lastmod text-muted mt-2">
        <i class="iconfont icon-edit-square"></i>
        <span class="ms-1">{{ site.data.locales[lang].post.updated }}</span>
        <span class="ms-1">{% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}</span>
      </div>
    {% endif %}

    {% if page.image %}
      <div class="mt-4 mb-4">
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}
        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}
        <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
        {%- if page.image.alt -%}
          <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
        {%- endif -%}
      </div>
    {% endif %}
  </header>

  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper text-muted">
    <!-- categories -->
    {% if page.categories.size > 0 %}
    <div class="post-meta mb-3">
      <i class="iconfont icon-FolderOpen-1 me-1"></i>
      {% assign _category_name = "" %}
      {% for category in page.categories %}
        {% if _category_name == "" %}
          {% capture _category_name %}{{ category }}{% endcapture %}
        {% else %}
          {% capture _category_name %}{{ _category_name }}-{{ category }}{% endcapture %}
        {% endif %}
        <a href='{{ site.baseurl }}/categories/{{ _category_name | slugify | url_encode }}/'>{{ category }}</a>
        {%- unless forloop.last -%}, {%- endunless -%}
      {% endfor %}
    </div>
    {% endif %}

    <!-- tags -->
    {% if page.tags.size > 0 %}
      <div class="post-tags">
        <i class="iconfont icon-tag me-1"></i>
        {% for tag in page.tags %}
          <a
            href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration"
          >
            {{- tag -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    <div
      class="
        post-tail-bottom
        d-flex justify-content-between align-items-center mt-5 pb-2
      "
    >
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
          {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

          {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>

      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->
</article>
